/***************************/
/* sticky menu bar */
/* Original menu by /u/Raerth[http://redd.it/mwpw8]
eddited for the needs the the shittynetwork @ /r/shittyHUB and /r/shittyNetwork */

#header-bottom-left {
    background: #755D46;
    padding-top: 28px !important
    }
div.content {
    margin-top: 10px
    }
.titlebox form {
    position: static
    }
.titlebox blockquote:first-child {
    border-left: none;
    position: absolute;
    z-index: 100;
    top: 13px;
    left: -9px
    }

.titlebox blockquote:first-child p:first-child {
    margin-top: 2px;
    display: block;
    /* padding: 0px 0px 0px 0px;  this changes the size of the box of the shitty logo. at the moment, it's being sized by the link inside the poop box */
    height: 19px;
    margin-right: 1px; 
    margin-left: 2px;
    float: left;
    font-size: 9pt;
    background: #fff url(%%poop%%) no-repeat 9px -3px; /* position of the logo inside of the box */
    border: 1px solid #aaa;
    font-weight: bold;
    color: #555;
    cursor: default;
    height:22px;
    width: 45px;
    }

.titlebox blockquote:first-child p:first-child a { /* styles the poop link */
  padding-left: 23px;
	padding-bottom: 11px; /* link fills poop box completely at half of the poop box's height */
        padding-top: 10px;
	margin-right: -10px;
	display: inline-block;
	margin: 0px;
	width: 20px;

	}
.titlebox blockquote ul {
    float: left;
    background: #fff;
    list-style: none;
    border: 1px solid #aaa;
    margin: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0px;
    font-weight: bold;
    margin-top: 2px
    }
.titlebox blockquote ul li {
    display: none;
    text-align: center;
    min-width: 170px; /* value is determined by the pixel length of the longest sub name  (In this case, it's Ask A Shitty Philosopher)*/
    }
.titlebox blockquote li a {
    display: block;
    color: #000;
    font-weight: normal;  
    padding: 6px 8px 6px 8px;
    }
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
    display: block
    }
.titlebox blockquote ul:hover {
    border: 1px solid #555;
    -webkit-box-shadow: 2px 2px 3px 2px #999;
    box-shadow: 2px 2px 3px 2px #999; 
    }
.titlebox blockquote li:first-child {
    font-size: 9pt;
    padding: 4px;
    cursor: default
    }
.titlebox blockquote:first-child ul li:hover, .titlebox blockquote:first-child ul:hover{
    background: #b4c9de;
    color: #fff;
    }

.titlebox blockquote ul li a:hover {
    color: #fff;
    background-color: #8dacca;
    font-weight:bold;
    }
.titlebox blockquote ul li a {
    padding: 8px;
    background-color: #fff;
    }


/***************************/ 
