/* sticky menu bar */
/* Original menu by /u/Raerth[http://redd.it/mwpw8]
eddited for the needs the the shittynetwork @ /r/shittyHUB and /r/shittyNetwork */
/*
This can be changed to your subreddits needs,
but just make sure that its high enought to fit the menu
*/
#header-bottom-left{
padding-top:30px !important;
}

/*moves links down to make space
div.content {
margin-top: 80px;
}
*/
/*hack to enable positioning of child elements*/
.titlebox form {
position: static
}
/*turns top quote in sidebar into menu container*/
.titlebox blockquote:first-child {
border-left: none;
position: absolute;
z-index: 100;
top: 15px;
left: 5px
}
/*turns first paragraph into menu title*/
.titlebox blockquote:first-child p:first-child {
margin-top: 0px;
padding: 4px 17px 3px 23px;
height: 20px;
float: left;
font-size: 10pt;
background: #eff7ff url(%%poop%%) no-repeat 9px 0px;
text-indent: -999px;

border: 1px solid #cee3f8;
font-weight:bold;
color:#555;
cursor:default;
}
/*turns the lists into menus*/
.titlebox blockquote ul {
float: right;
padding: 1px;
background: #eff7ff;
border: 1px solid #cee3f8;
margin:0px;
}
/*hide and styles lists*/
.titlebox blockquote ul li {
display: none;
padding:2px;
text-align:center;
}
/*makes whole list item selectable*/
.titlebox blockquote li a {
display:block;
padding:3px;
}
/*shows menu on hover*/
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
display: block
}
/*turns top list item into section header*/
.titlebox blockquote li:first-child {
font-size: 10pt;
padding: 4px;
cursor:default;
padding-left: 27px;
padding-right: 27px;
}
/*styling menu items*/
.titlebox blockquote:first-child ul li:hover {
background:#ffffff;
}
.titlebox blockquote li a:hover {
color:orangered;
}
/*custom size for menu sections*/
.titlebox blockquote ul:nth-of-type(4) {width:140px;}

/* ======================================================= */
